extends ./partials/layout.jade

block title
  title Offline first. Автономность прежде всего или как сделать пользователю приятно.

block slides



  article.title.center.dark
    .wrapper
      h1 Offline
        span first
      h2 
        | Автономность прежде всего 
        span или 
        |  как сделать пользователю приятно
        
  article.new3g
  
  article.gprs.center.cloud
    h1 
      .wrapper GPRS‽
  
  article.service.center.cloud
    h1 
      .wrapper Не ловит‽
      
  article.rape
      
  article.bgg.center.cloud
    h1 
      .wrapper ;)
      
  article.two-ways.center.cloud
    h1 
      .wrapper Альтернативы-то
        br
        | не очень
        
  article.center.code-1
    .wrapper
      pre
        code.javascript="navigator.onLine\n// true | false"
        
  article.center.code-1
    .wrapper
      pre
        code.javascript="if(navigator.onLine){\n\t// …\n}else{\n\t// …\n}"
        
        
  article.center.code-5
    .wrapper
      pre
        code.javascript="window.addEventListener('online', callback);\nwindow.document.addEventListener('online', callback);\nwindow.document.body.addEventListener('online', callback);\n\nwindow.addEventListener('offline', callback);\nwindow.document.addEventListener('offline', callback);\nwindow.document.body.addEventListener('offline', callback);"

  article.center.code-2
    .wrapper
      pre
        code.javascript="document.ononline = callback;\ndocument.body.ononline = callback;\ndocument.onoffline = callback;\ndocument.body.onoffline = callback;\n"


  article.center.code-5
    iframe(src="./examples/events/index.html")

  article.no-internet.center.cloud
    h1 
      .wrapper Facebook 
        br
        | так тоже может
        
  article.can-post.center.cloud
    h1 
      .wrapper Более того…
  
  article.cake.center.cloud
    h1 
      .wrapper Offline first
        br
        | не тортик
      
  article.cherry.center.cloud
    h1 
      .wrapper Offline first 
        br 
        | вишенка
      
  article.many.center.cloud
    h1 
      .wrapper Вас таких много
        br
        | стоит выделиться
    
  article.meanie.center.cloud
    h1 
      .wrapper Не будьте буками!
      
  article.pleasure.center.cloud
    h1 
      .wrapper Сделайте
        br 
        | пользователю 
        br 
        | приятно
      
      
  article.contacts.center.qrcode
    .wrapper
      .about-speaker
        p.name Антон Немцев
        p.link http://silentimp.info/
        p.twitter @silentimp
        p.email thesilentimp@gmail.com
        p.skype skype: ravencry
      img.link(src="images/git.svg", alt="QRCODE cо ссылкой на доклад")
      p http://goo.gl/lTV0bL
      
      
      //- 
      //- article.toy2
      //- 
      //- article.toy3
      //- 
      //- article.center.cover.cloud
      //-     h1  
      //-       .wrapper делайте игрушки на WebGL
      //- 
      //- article.center.cover.cloud
      //-     h1  
      //-       .wrapper ну пожа-а-а-а-а-а-а-луйста
      //- 
      //- //- Кronos
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="img/khronos.png", alt="логотип")
      //-     img.link(src="svg/khronos.svg", alt="QRCODE cо ссылкой на khronos")
      //-     p http://www.khronos.org/
      //- 
      //- //- cпецификация WebGL
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="img/webgl.png", alt="логотип")
      //-     img.link(src="svg/webgl.svg", alt="QRCODE cо ссылкой на webgl")
      //-     p http://goo.gl/hyJ8Y0
      //- 
      //- //- cпецификация CALLADA
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="img/collada.png", alt="логотип")
      //-     img.link(src="svg/collada.svg", alt="QRCODE cо ссылкой на collada")
      //-     p http://goo.gl/IkcI3z
      //- 
      //- //- cпецификация CALLADA
      //- article.center.qrcode
      //-   .wrapper
      //-     .half
      //-       h2 The OpenGL ES Shading Language 3.1
      //-     img.link(src="svg/opengles.svg", alt="QRCODE cо ссылкой на collada")
      //-     p http://goo.gl/u5dFg0
      //- 
      //- 
      //- article.center.support
      //-   .wrapper
      //-     ul.half
      //-       li IE 11+
      //-       li FF 4+
      //-       li Chrome 8+
      //-       li Opera 12.0 +
      //-       li.wtf Safari 5.1+ 
      //-     ul.half
      //-       li.wtf iOS Safari ???
      //-       li.no Opera Mini -
      //-       li Opera Mobile 12+
      //-       li.no Android Browser -
      //-       li Blackberry Browse 10+
      //-       li Firefox for Android 26+
      //-       li.no IE Mobile
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="svg/caniusewebgl.svg", alt="QRCODE cо ссылкой на http://get.webgl.org/")
      //-     p http://get.webgl.org/
      //- 
      //- 
      //- article.center.cloud.math-is-hard.dictor
      //-   h1 
      //-     .wrapper Math is hard?
      //- 
      //- article.center.cloud.threejs.dictor
      //-   h1  three.js!
      //- 
      //- //- three.js
      //- article.center.qrcode
      //-   .wrapper
      //-     //- .half
      //-     //-   h2 Online редактор three.js с возможностями импорта и экспорта
      //-     img.link(src="svg/threejs-editor.svg", alt="QRCODE cо ссылкой на threejs-editor")
      //-     p threejs.org
      //- 
      //- 
      //- article.center
      //-   .wrapper
      //-     ul
      //-       li Math is hard (© Barbie)
      //-       li Разрабатывается с 2010 года
      //-       li Сильное комьюнити
      //-       li Достаточный объем материалов для изучения
      //-       li Возможность использования Wavefront (.obj) и Collada (.dae)
      //- 
      //- article.center.cloud.start
      //-   h1 
      //-     .wrapper Инициализация проекта
      //- 
      //- //- A Grunt taks for wrapping GLSL Shader code in Javascript packages, ready to be used in Three.js
      //- //- article.center
      //- //-   .wrapper
      //- //-     h1 Grunt
      //- //-     https://www.npmjs.org/package/grunt-glsl-threejs
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     img(src="svg/yeoman.svg", alt="QRCODE cо ссылкой на yeoman")
      //-     p http://yeoman.io/
      //- 
      //- article.center
      //-   .wrapper
      //-     .one-third
      //-       img(src="img/yo.jpg", alt="Yo")
      //-       h2 Yo
      //-     .one-third
      //-       img(src="svg/grunt.svg", alt="Grunt")
      //-       h2 Grunt
      //-     .one-third
      //-       img(src="svg/bower.svg", alt="Bower")
      //-       h2 Bower
      //- 
      //- article.center.code-0
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ npm install -g yo
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half
      //-       h2 Генератор Yeoman для проекта с использованием three.js
      //-     img.link(src="svg/generator-threejs-boilerplate.svg", alt="QRCODE cо ссылкой на generator-threejs-boilerplate")
      //-     p.title threejs-boilerplate
      //-     p http://goo.gl/qSdClz
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ npm install -g 
      //-         |   generator-threejs-boilerplate
      //-         | $ yo threejs-boilerplate
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | [?] Would you the default one? (Y/n) n
      //-         | [?] Would you like to add require.js? (Y/n) 
      //-         | [?] Would you like to support webgl detection? (Y/n)
      //-         | [?] Would you like to support window resize? (Y/n)
      //-         |     create Makefile
      //-         |     create index.html
      //-         |     create vendor/three.js/build/three.js
      //-         |     create vendor/threex.windowresize.js
      //-         |     create vendor/three.js/examples/js/Detector.js
      //-         |     create vendor/require.js/require.js
      //- 
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | index.html
      //-         | Makefile
      //-         | vendor/
      //-         |     threex.windowresize.js
      //-         |     require.js/
      //-         |         require.js
      //-         |     three.js/
      //-         |         build/
      //-         |             three.js
      //-         |         examples/js/
      //-         |             Detector.js
      //- 
      //- 
      //- article.center.screenshot
      //-   .wrapper
      //-     img.link(src="img/threejs-boilerplate.png", alt="Скриншот")
      //- 
      //- article.center.qrcode.bower
      //-   .wrapper
      //-     .half
      //-       h2 Bower
      //-     .half
      //-       img(src="svg/bower.svg", alt="QRCODE cо ссылкой на bower")
      //-     p http://bower.io/
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ npm install -g bower
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half
      //-       h2 Пакет Bower содержащий three.js
      //-     img.link(src="svg/bower-threejs.svg", alt="QRCODE cо ссылкой на bower threejs")
      //-     p.title threejs
      //-     p http://goo.gl/Q9XkQv
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ bower install threejs
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | bower_components/
      //-         |     threejs/
      //-         |         build/
      //-         |             three.js
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code= '<script src="bower_components/\n\tthreejs/\n\tbuild/three.js">\n</script>'
      //- 
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code= '<canvas id="screen"></canvas>'
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'var scene = new THREE.Scene();\n   camera = new THREE.PerspectiveCamera(\n\t63, 4/3, 0.1, 1000\n\t),\n geometry = new THREE.CubeGeometry(.5, .5, .5),\n material = new THREE.MeshNormalMaterial(),\n     cube = new THREE.Mesh(geometry, material),\n renderer = new THREE.WebGLRenderer({\n\tcanvas: document.getElementById("screen"),\n\tantialias: true\n\t});'
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'Scene(\n\tfog,\n\toverrideMaterial,\n\tautoUpdate)'
      //-     //- ul
      //-     //-   li fog — объект тумана
      //-     //-   li overrideMaterial — материал, который принудительно будут присвоен всем объектам сцены
      //-     //-   li autoUpdate — автообновление состояние всех элементов сцены
      //- 
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'PerspectiveCamera(\n\t\t  fov,\n\t\t  aspect,\n\t\t  near,\n\t\t  far)'
      //-     //- ul
      //-     //-   li fov — вертикальный угол обзора
      //-     //-   li aspect — соотношение сторон
      //-     //-   li near — ближнее фокусное расстояние
      //-     //-   li far — дальнее фокусное расстояние
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'CubeGeometry(\n\twidth,\n\theight,\n\tdepth,\n\twidthSegments,\n\theightSegments,\n\tdepthSegments)'
      //-     //- ul
      //-     //-   li width — ширина
      //-     //-   li height — высота
      //-     //-   li depth — глубина
      //-     //-   li widthSegments — количество сегментов по ширине
      //-     //-   li heightSegments — количество сегментов по высоте
      //-     //-   li depthSegments — количество сегментов по глубине
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'MeshNormalMaterial({\n\tmorphTargets,\n\tshading,\n\twireframe,\n\twireframeLinewidth\n\t})'
      //-     //- ul
      //-     //-   li morphTargets — используется ли morphTargets
      //-     //-   li shading — шейдер
      //-     //-   li wireframe — отображать как сетку
      //-     //-   li wireframeLinewidth — плотность сетки
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'Mesh(geometry, material)'
      //-     //- ul
      //-     //-   li geometry — геометрия
      //-     //-   li material — материал
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'WebGLRenderer(\n\tcanvas,\n\tprecision,\n\talpha,\n\tpremultipliedAlpha,\n\tantialias,\n\tstencil,\n\tpreserveDrawingBuffer,\n\tmaxLights)'
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.javascript='renderer.setSize(600, 400);\nscene.add(cube);\ncamera.position.x = 0;\ncamera.position.y = 1;\ncamera.position.z = 2;\ncamera.lookAt(cube.position);'
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.javascript='function render() {\n\tcube.rotation.y += .05;\n\trequestAnimationFrame(render);\n\trenderer.render(scene, camera);\n}\nrender();'
      //- 
      //- article
      //-   canvas#demo-1
      //-   //- iframe(src="examples/cube/index.html")
      //- 
      //- //- article.center.code-4
      //- //-   .wrapper
      //- //-     pre
      //- //-       code= 'var angle = .05,\nthree = THREE.Bootstrap({\n\telement: document.querySelector("#screen"),\n}),\ncube = new THREE.Mesh(\n\tnew THREE.CubeGeometry(.5, .5, .5),\n\tnew THREE.MeshNormalMaterial());\nthree.scene.add(cube);\nthree.camera.position.set(0, 1, 2);\nthree.camera.lookAt(cube.position);\nthree.on("update", function () {\n\tcube.rotation.y += angle;\n});'
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half
      //-       h2 Пакет Bower содержащий Three.js бутстрап
      //-     img.link(src="svg/threestrap.svg", alt="QRCODE cо ссылкой на bower threestrap")
      //-     p.title threestrap
      //-     p http://goo.gl/0GiKKP
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ bower install threestrap
      //- 
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | bower_components/
      //-         |     threestrap/
      //-         |         build/
      //-         |             threestrap.js
      //-         |             threestrap-core.js
      //-         |             threestrap-extra.js
      //- 
      //- article.center.threestrap-list
      //-   .wrapper
      //-     .one-third
      //-       h2 Empty
      //-       ul
      //-         li renderer
      //-         li bind
      //-         li size
      //-         li fill
      //-         li loop
      //-         li time
      //-     .one-third
      //-       h2 Core
      //-       ul
      //-         li scene
      //-         li camera
      //-         li render
      //-     .one-third
      //-       h2 Extra
      //-       ul
      //-         li stats
      //-         li controls
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code= '<script src="bower_components/\n\tthreestrap/\n\tbuild/threestrap.js">\n</script>'
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'var three = THREE.Bootstrap({\n\telement: document.querySelector("#screen")\n\t}),\n    geometry = new THREE.CubeGeometry(.5, .5, .5),\n    material = new THREE.MeshNormalMaterial(),\n    cube = new THREE.Mesh(geometry, material);'
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.javascript= 'three.scene.add(cube);\nthree.camera.position.set(0, 1, 2);\nthree.camera.lookAt(cube.position);\nthree.on("update", function () {\n\tcube.rotation.y += .05;\n});'
      //- 
      //- article#demo-2
      //-   //- iframe(src="examples/threestrap/index.html")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half
      //-       h2 Плагин Grunt для получения JavaScript кода GLSL шейдеров 
      //-     img.link(src="svg/grunt-glsl-threejs.svg", alt="QRCODE cо ссылкой на glsl-threejs")
      //-     p.title glsl-threejs
      //-     p http://goo.gl/K4ssEr
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ npm install grunt-glsl-threejs
      //- 
      //- article.center.photo.cloud
      //-   h1 
      //-     .wrapper Я жажду фото-<br>реализма!
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.javascript='var texture = THREE.ImageUtils.loadTexture(\n\t"img/box.png"\n);\nvar cube = new THREE.Mesh(\n\tgeometry, \n\tnew THREE.MeshPhongMaterial({\n\t\tmap: texture\n\t}));'
      //- 
      //- article#demo-3
      //-   //- iframe(src="examples/textures/box.html")
      //- 
      //- article.center.photo.cloud
      //-   h1 
      //-     .wrapper А если<br>грани<br>куба — <br>разные?
      //- 
      //- 
      //- article.center.code-5
      //-   .wrapper
      //-     pre
      //-       code='var texture1 = THREE.ImageUtils.loadTexture("img/t1.png"),\n    texture2 = THREE.ImageUtils.loadTexture("img/t2.png"),\n    texture3 = THREE.ImageUtils.loadTexture("img/t3.png"),\n    top_side = new THREE.MeshPhongMaterial({map: texture1}),\n    side_side = new THREE.MeshPhongMaterial({map: texture2}),\n    other_side = new THREE.MeshPhongMaterial({map: texture3});'
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.javascript='var material = new THREE.MeshFaceMaterial([\n\tside_side,\n\tside_side,\n\ttop_side,  //top\n\tother_side, //bottom\n\tother_side,\n\tother_side\n\t]),\n    cube = new THREE.Mesh(geometry, material);'
      //- 
      //- article#demo-4
      //-   //- iframe(src="examples/textures/index.html")
      //- 
      //- article.center.cloud.wireframe.dictor.dictor2
      //-   h1 
      //-     .wrapper Хочу что-то менее тривиальное!
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half
      //-       h2 Загрузка из формата COLLADA
      //-     img.link(src="svg/collada2threejs.svg", alt="QRCODE cо ссылкой на Collada-Import-Three.js")
      //-     p.title Collada-Import-Three.js
      //-     p http://goo.gl/7JEXnV
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code='var loader = new THREE.ColladaLoader();\n    loader.load(\n\t"collada/model2.dae", \n\tmodelLoaded);'
      //- 
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code='function modelLoaded(result){\n\tcollada = result.scene;\n\tscene.add(collada);\n\trender();\n}'
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code='result.dae.images\nresult.dae.geometries\nresult.dae.materials'
      //- 
      //- article#demo-5
      //-   //- iframe(src="examples/collada/index.html")
      //- 
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half 
      //-       h2 Плагин Grunt для конвертации .OBJ в .JSON
      //-     img.link(src="svg/grunt-three-obj.svg", alt="QRCODE cо ссылкой на glsl-threejs")
      //-     p.title grunt-three-obj
      //-     p http://goo.gl/rTauLO
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ npm install grunt-three-obj --save-dev
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.bash='module.exports = (grunt)->\n\tgrunt.initConfig(\n\t\tthree_obj:\n\t\tdist:\n\t\tsrc: ["./obj/*.obj"],\n\t\tdest: "./json/"\n\t)\n\tgrunt.loadNpmTasks \n\t\t"grunt-three-obj"\n\tgrunt.registerTask \n\t\t"default", \n\t\t["three_obj"]'
      //- 
      //- article.center.code-1
      //-   .wrapper
      //-     pre
      //-       code.bash
      //-         | $ grunt
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code='var json_loader = new THREE.JSONLoader(),\n    model = null;\njson_loader.load(\n\t"examples/model/json/human.js", \n\tmodelLoaded, \n\t"examples/model/json/");'
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript='function modelLoaded(geometry, materials){\n\tmodel = new THREE.Mesh(\n\t\tgeometry, \n\t\tnew THREE.MeshNormalMaterial());\n\tmodel.position.z = 10;\n\tmodel.position.y = -8;\n\tscene.add(model);\n\tcamera.lookAt(\n\t\tnew THREE.Vector3(0,0,0)\n\t);\n}'
      //- 
      //- article#demo-6
      //-   //- iframe(src="examples/json/index.html")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     .half 
      //-       h2 Плагины для экспорта в JSON из Blender, Maya, 3Ds MAX
      //-     img.link(src="svg/exporters.svg", alt="QRCODE cо ссылкой на glsl-threejs")
      //-     p http://goo.gl/6bnan4
      //- 
      //- //- article.center.qrcode
      //- //-   .wrapper
      //- //-     .half
      //- //-       h2 Альтернативная библиотека для загрузки из формата COLLADA
      //- //-     img.link(src="svg/collada2threejs-2.svg", alt="QRCODE cо ссылкой на threejs-collada")
      //- //-     p.title threejs-collada
      //- //-     p http://goo.gl/HmiIl5
      //- 
      //- article.center.models.cloud
      //-   h1 
      //-     .wrapper Откуда брать модели?
      //- 
      //- article.center.screenshot
      //-   .wrapper
      //-     img.link(src="img/blendswap.png", alt="Скриншот")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="svg/blendswap.svg", alt="QRCODE cо ссылкой на blender")
      //-     p http://blendswap.com/
      //- 
      //- article.center.screenshot
      //-   .wrapper
      //-     img.link(src="img/mocap.png", alt="Скриншот")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="svg/mocap.svg", alt="QRCODE cо ссылкой на blender")
      //-     p http://goo.gl/G62KBp
      //- 
      //- article.center.screenshot
      //-   .wrapper
      //-     img.link(src="img/screen-blender.png", alt="Скриншот")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="svg/grunt-glsl-threejs.svg", alt="QRCODE cо ссылкой на blender")
      //-     p http://blender.org/
      //- 
      //- article.center.screenshot
      //-   .wrapper
      //-     img.link(src="img/screen-makehuman.png", alt="Скриншот")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     img.link(src="svg/grunt-glsl-threejs.svg", alt="QRCODE cо ссылкой на www.makehuman.org")
      //-     p http://makehuman.org/
      //- 
      //- article.center.screenshot
      //-   .wrapper
      //-     img.link(src="img/screen-threejs-editor.png", alt="Скриншот")
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     //- .half
      //-     //-   h2 Online редактор three.js с возможностями импорта и экспорта
      //-     img.link(src="svg/threejs-editor.svg", alt="QRCODE cо ссылкой на threejs-editor")
      //-     p http://threejs.org/editor/
      //- 
      //- //- article.center
      //- //-   .wrapper
      //- //-     h1 Анимация
      //- 
      //- //- article.center
      //- //-   .wrapper
      //- //-     h1 Откуда брать mocap
      //- 
      //- article.center.physics.cloud
      //-   h1 Физика
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     h2 Physijs
      //-     img.link(src="svg/physijs.svg", alt="QRCODE cо ссылкой на threejs-editor")
      //-     p http://goo.gl/VGFccu
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     h2 ammo.js
      //-     img.link(src="svg/ammo.svg", alt="QRCODE cо ссылкой на ammo")
      //-     p http://goo.gl/YTwlMB
      //- 
      //- article.center.qrcode
      //-   .wrapper
      //-     h2 canon.js
      //-     img.link(src="svg/cannonjs.svg", alt="QRCODE cо ссылкой на ammo")
      //-     p http://cannonjs.org/
      //- 
      //- article.center.cloud.meteor
      //-   .wrapper
      //-     h1 Пример игры
      //- 
      //- article#demo-7
      //- 
      //- article.center
      //-   .wrapper
      //-     ul
      //-       li Создать сцену
      //-       li Добавить внешние модели
      //-       li Анимировать модели
      //-       li Добавить интерактивность
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.javascript="shield = new THREE.Object3D();\nsphere = new THREE.SphereGeometry(\n\t2, 8, 8, 0, \n\tMath.PI*2, 0, Math.PI/7)\nshield_mesh = new THREE.Mesh(\n\tsphere,\nnew THREE.MeshNormalMaterial({\n\twireframe: true\n}));\nshield.add(shield_mesh);"
      //- 
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript="json_loader = new THREE.JSONLoader();\njson_loader.load('json/planet.js', modelLoaded);\njson_loader.load('json/rock.js', rockLoaded);\njson_loader.load('json/moon.js', moonLoaded);"
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript="function moonLoaded(geometry, materials){\n\tmoon = new THREE.Object3D();\n\tmoon.add(\n\t\tnew THREE.Mesh(\n\t\tgeometry,\n\t\tnew THREE.MeshNormalMaterial()\n\t));\n\tscene.add(moon);\n}"
      //-       
      //- article.center.code-2
      //-   .wrapper
      //-     pre
      //-       code.javascript="planet.rotation.x+=.001;\nplanet.rotation.y+=.001;\nmoon.rotation.z+=.01;"
      //- 
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript='document.addEventListener("keydown", arrowsDown);\ndocument.addEventListener("keyup", arrowsUp);'
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript='function arrowsDown(event){\nvar larr = 37,\n    rarr = 39;\nswitch(event.which){\n\tcase 37:\n\t\trollLeft = true;\n\t\tbreak;\n\tcase 39:\n\t\trollRight = true;\n\tbreak;\n}}'
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript='document.addEventListener("keydown", arrowsDown);\ndocument.addEventListener("keyup", arrowsUp);'
      //- 
      //- article.center.code-3
      //-   .wrapper
      //-     pre
      //-       code.javascript='if(rollRight===true){\n\tshield.rotation.z-=.05;\n}\nif(rollLeft===true){\n\tshield.rotation.z+=.05;\n\t}'
      //- 
      //- article.center.code-4
      //-   .wrapper
      //-     pre
      //-       code.javascript='var ray = new THREE.Ray(\n\tplanet.position,\n\trock.position\n);\nvar distance = ray.distanceToPoint(\n\trock.position);\nif (distance < 1 ) {\n\tdeleteFromList.push({\n\t\tobj:rocks[index],\n\t\tindex:index\n\t});\n\tendgame();\n};'
      //- 
